.admin.container
  .row
    .col-lg-10
      .panel.panel-default
        .panel-heading= "#{params[:controller].capitalize} index"
        .panel-body
          - songs.each do |f|
            .panel-body
              = f.title
              =link_to 'Edit', edit_song_path(f), class: 'btn btn-default context-btn'
              =link_to 'Destroy', song_path(f), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default context-btn'
              %hr.featurette-divider
