.menu-offset
= render partial: 'shared/header', locals: { active: 3 }
.container
  .row
    .col-lg-6
      = render partial: 'form'
    .col-lg-1
    .col-lg-5
      .row.new-record
        %h3 You're adding a new song to MuuLib...
        %p ...remember to add all the data, but don't worry - you can change it later. :)
.menu-offset
