**.orig
*.rbc
*.sassc
.sass-cache
/.bundle
/bin
/config/database.yml
/config/mongoid.yml
/config/sec_config.yml
/coverage/
/db/*.sqlite3
/log/*
/public/assets
/public/uploads
/public/system/*
/RELEASE
/tmp/*
/vendor/bundle
/log/*
