.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      .navbar-brand
        a
          color: #999999
          &:hover
            color: white
            text-decoration: none
