#footer.border-top
  .container
    .row
      .col-lg-2
        siemasi
      .col-lg-2
        siema siem
      .col-lg-2
        seins
      .col-lg-2
        sandhashjdk
      .col-lg-2
        askndhjabshjdb
      .col-lg-2
        akjsbdjgavsjb
