.sidebar-offcanvas#sidebar{ role: 'navigation' }
	.list-group
		= link_to 'Index', '#', class: 'list-group-item'
		= link_to 'New', '#', class: 'list-group-item'
		= link_to 'Add', '#', class: 'list-group-item'
		= link_to 'Search', '#', class: 'list-group-item'
