.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      .navbar-brand
        = link_to 'MuuLib', '/'
      %ul.nav.navbar-nav
        %li{class: "#{active == 1 ? 'active' : ''}"}= link_to 'siema1', '#'
        %li{class: "#{active == 2 ? 'active' : ''}"}= link_to 'siema2', '#'
        %li{class: "#{active == 3 ? 'active' : ''}"}= link_to 'siema3', '#'
