.container.record-label-show
  .col-lg-6.well.well-lg
    .row
      Name:
      .pull-right= record_label.name
    .row
      Established:
      .pull-right= record_label.established
.container.album-desc
  .col-lg-6.well.well-lg
    %h4 Description
    = record_label.description
