.container
  .row
    .col-lg-10
      .panel-body
        %table{ class: 'table table-striped table-hover' }
          %tr
            %td Name
            %td Est.
            %td Edit
            %td Destroy
          - record_labels.each do |f|
            %tr
              %td= link_to f.name, record_label_path(f)
              %td= f.established
              %td=link_to 'Edit', edit_record_label_path(f), class: 'btn btn-default context-btn'
              %td=link_to 'Destroy', record_labels_path(f), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default context-btn'
