.container
  .row
    .col-lg-10
      .panel-body
        %table{ class: 'table table-striped table-hover' }
          %tr
            %td Name
            %td Est.
            %td Country
            %td Edit
            %td Destroy
          - artists.each do |f|
            %tr
              %td= link_to f.name, artist_path(f)
              %td= f.established
              %td= f.country
              %td=link_to 'Edit', edit_artist_path(f), class: 'btn btn-default context-btn'
              %td=link_to 'Destroy', artist_path(f), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default context-btn'
  .row
    .col-lg-6
      .row
        %h4.well
          Number of artists:
          = artists.first.connection.select_one('select f_c_a()')['f_c_a()']
